<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" href="" />
<title></title>

<!-- <meta http-equiv="origin-trial" content="" /> -->

<style>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  fencedframe {
    border: none;
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
  }
</style>

<script src="/js/run-video-ad-auction.js"></script>
