volumes:
  home_node_modules:
  news_node_modules:
  shop_node_modules:
  travel_node_modules:
  ad_tech_node_modules:
  dsp_node_modules:
  dsp_a_node_modules:
  dsp_b_node_modules:
  ssp_node_modules:
  ssp_a_node_modules:
  ssp_b_node_modules:
  topics-server_node_modules:
  ad_server_node_modules:

services:
  home:
    image: gcr.io/privacy-sandbox-demos/home:latest
    build: ./services/home
    container_name: "sandcastle_home"
    hostname: ${HOME_HOST:?err}
    env_file:
      - .env
    networks:
      - adnetwork

  news:
    image: gcr.io/privacy-sandbox-demos/news:latest
    build: ./services/news
    container_name: "sandcastle_news"
    hostname: ${NEWS_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/news:/workspace
      - news_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  shop:
    image: gcr.io/privacy-sandbox-demos/shop:latest
    build: ./services/shop
    container_name: "sandcastle_shop"
    hostname: ${SHOP_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/shop:/workspace
      - shop_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  travel:
    image: gcr.io/privacy-sandbox-demos/travel:latest
    build: ./services/travel
    container_name: "sandcastle_travel"
    hostname: ${TRAVEL_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/travel:/workspace
      - travel_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  dsp:
    image: gcr.io/privacy-sandbox-demos/ad-tech:latest
    build: ./services/ad-tech
    container_name: "sandcastle_dsp"
    hostname: ${DSP_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/ad-tech:/workspace
      - ad_tech_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  dsp-a:
    image: gcr.io/privacy-sandbox-demos/ad-tech:latest
    build: ./services/ad-tech
    container_name: "sandcastle_dsp_a"
    hostname: ${DSP_A_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/ad-tech:/workspace
      - ad_tech_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  dsp-b:
    image: gcr.io/privacy-sandbox-demos/ad-tech:latest
    build: ./services/ad-tech
    container_name: "sandcastle_dsp_b"
    hostname: ${DSP_B_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/ad-tech:/workspace
      - ad_tech_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  ssp:
    image: gcr.io/privacy-sandbox-demos/ad-tech:latest
    build: ./services/ad-tech
    container_name: "sandcastle_ssp"
    hostname: ${SSP_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/ad-tech:/workspace
      - ad_tech_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  ssp-a:
    image: gcr.io/privacy-sandbox-demos/ad-tech:latest
    build: ./services/ad-tech
    container_name: "sandcastle_ssp_a"
    hostname: ${SSP_A_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/ad-tech:/workspace
      - ad_tech_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  ssp-b:
    image: gcr.io/privacy-sandbox-demos/ad-tech:latest
    build: ./services/ad-tech
    container_name: "sandcastle_ssp_b"
    hostname: ${SSP_B_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/ad-tech:/workspace
      - ad_tech_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  ad-server:
    image: gcr.io/privacy-sandbox-demos/ad-server:latest
    build: ./services/ad-server
    container_name: "sandcastle_ad_server"
    hostname: ${AD_SERVER_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/ad-server:/workspace
      - ad_server_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  collector:
    image: gcr.io/privacy-sandbox-demos/collector:latest
    build: ./services/collector
    container_name: "sandcastle_collector"
    hostname: ${COLLECTOR_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/collector:/workspace
    networks:
      - adnetwork

  topics-server:
    image: gcr.io/privacy-sandbox-demos/topics-server:latest
    build: ./services/topics-server
    container_name: "sandcastle_topics-server"
    hostname: ${TOPICS_SERVER_HOST:?err}
    env_file:
      - .env
    volumes:
      - ./services/topics-server:/workspace
      - topics-server_node_modules:/workspace/node_modules
    networks:
      - adnetwork

  nginx:
    image: nginx:1.22.1-alpine
    container_name: "proxy"
    volumes:
      # using env variables in nginx config
      - type: bind
        source: "./nginx/nginx.conf"
        target: "/etc/nginx/templates/default.conf.template"
      - type: bind
        source: "./nginx/cert"
        target: "/cert"
    networks:
      - adnetwork
    ports:
      - "${EXTERNAL_PORT}:443"
    env_file:
      - .env
    depends_on:
      - home
      - news
      - shop
      - travel
      - ssp
      - ssp-a
      - ssp-b
      - dsp
      - dsp-a
      - dsp-b
      - ad-server
      - collector
      - topics
      - topics-server

networks:
  adnetwork:
    driver: bridge
