<aside class="flex flex-col gap-4">
  <h3 class="font-bold text-2xl">
    Other Demo Pages
  </h3>
  <ul class="list-disc pl-8">
    <li>
      Simple display ad:
      <a href="/">single-seller</a>
    </li>
    <li>
      Multiple ad types:
      <a href="/pa-multiple-ad">multi-seller</a> |
      <a href="/pa-multiple-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad in fenced-frame:
      <a href="/pa-fenced-frame-display-ad">multi-seller</a> |
      <a href="/pa-fenced-frame-display-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad in iframe:
      <a href="/pa-iframe-display-ad">multi-seller</a> |
      <a href="/pa-iframe-display-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Video ad in iframe:
      <a href="/pa-iframe-video-ad">multi-seller</a> |
      <a href="/pa-iframe-video-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad with publisher ad quality requirements:
      <a href="/pa-publisher-ad-quality-req">multi-seller</a> |
      <a href="/pa-publisher-ad-quality-req?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad with deals:
      <a href="/pa-display-ad-with-deals">multi-seller</a> |
      <a href="/pa-display-ad-with-deals?otherSellers=">single-seller</a>
    </li>
    <li>
      Multi piece ads:
      <a href="/pa-iframe-multi-piece-ad">multi-seller</a> |
      <a href="/pa-iframe-multi-piece-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Single-touch attribution:
      <a href="/mmt-single-touch-attribution-html">HTML</a> |
      <a href="/mmt-single-touch-attribution-js">JavaScript</a>
    </li>
    <li> 
      <a href="/mmt-multi-touch-attribution">Multi-touch attribution</a>
    </li>
     <li> 
      <a href="/mmt-basic-reach-mmt">Reach measurement</a>
    </li>
  </ul>
</aside>
