<aside class="flex flex-col gap-4">
  <h3 class="font-bold text-2xl">
    Other Demo Pages
  </h3>
  <p class="pt-8 font-bold">Multiple ad types</p>
  <ul class="list-disc pl-8">
    <li>
      with
      <a href="/multi-ad-multi-seller">multi-seller</a>
    </li>
    <li class="pt-4">
      with
      <a href="/multi-ad-single-seller">single-seller</a>
    </li>
  </ul>
  <p class="pt-8 font-bold">Display ad in fenced-frame</p>
  <ul class="list-disc pl-8">
    <li>
      with
      <a href="/fenced-frame-display-ad-multi-seller">multi-seller</a>
    </li>
    <li class="pt-4">
      with
      <a href="/fenced-frame-display-ad-single-seller">single-seller</a>
    </li>
  </ul>
  <p class="pt-8 font-bold">Display ad in iframe</p>
  <ul class="list-disc pl-8">
    <li>
      with
      <a href="/iframe-display-ad-multi-seller">multi-seller</a>
    </li>
    <li class="pt-4">
      with
      <a href="/iframe-display-ad-single-seller">single-seller</a>
    </li>
  </ul>
  <p class="pt-8 font-bold">Video ad in iframe</p>
  <ul class="list-disc pl-8">
    <li>
      with
      <a href="/iframe-video-ad-multi-seller">multi-seller</a>
    </li>
    <li class="pt-4">
      with
      <a href="/iframe-video-ad-single-seller">single-seller</a>
    </li>
  </ul>
  <p class="pt-8 font-bold">Display ads with deals</p>
  <ul class="list-disc pl-8">
    <li>
      with
      <a href="/display-ad-with-deals-multi-seller">multi-seller</a>
    </li>
    <li class="pt-4">
      with
      <a href="/display-ad-with-deals-single-seller">single-seller</a>
    </li>
  </ul>
  <p class="pt-8 font-bold">Display ads with publisher ad quality requirements</p>
  <ul class="list-disc pl-8">
    <li>
      with
      <a href="/publisher-ad-quality-req-multi-seller">multi-seller</a>
    </li>
    <li class="pt-4">
      with
      <a href="/publisher-ad-quality-req-single-seller">single-seller</a>
    </li>
  </ul>
</aside>
