<aside class="flex flex-col gap-4">
  <h3 class="font-bold text-2xl">
    Other Demo Pages
  </h3>
  <ul class="list-disc pl-8">
    <li>
      Simple display ad:
      <a href="/">single-seller</a>
    </li>
    <li>
      Multiple ad types:
      <a href="/multiple-ad">multi-seller</a> |
      <a href="/multiple-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad in fenced-frame:
      <a href="/fenced-frame-display-ad">multi-seller</a> |
      <a href="/fenced-frame-display-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad in iframe:
      <a href="/iframe-display-ad">multi-seller</a> |
      <a href="/iframe-display-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Video ad in iframe:
      <a href="/iframe-video-ad">multi-seller</a> |
      <a href="/iframe-video-ad?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad with publisher ad quality requirements:
      <a href="/publisher-ad-quality-req">multi-seller</a> |
      <a href="/publisher-ad-quality-req?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad with deals:
      <a href="/display-ad-with-deals">multi-seller</a> |
      <a href="/display-ad-with-deals?otherSellers=">single-seller</a>
    </li>
    <li>
      Display ad with reach measurment:
      <a href="/display-ad-with-reach">Reach Measurment</a>
    </li>
  </ul>
</aside>
