
<B>STATIC ADS SHARED STORAGE WITH REACH MEASURE</B>

<div class="w-full flex flex-row justify-center ad-row">
<div class="ad-slot">
    <script defer src="<%= `https://${DSP_HOST}:${EXTERNAL_PORT}/js/dsp/reach-ad-tag.js` %>"></script>
</div>
</div>


<pre>
Inspect Local Reports - <a href="chrome://private-aggregation-internals/" target="_top">chrome://private-aggregation-internals/</a>

Inspect <a href='<%= `https://${DSP_HOST}:${EXTERNAL_PORT}/reporting/view-reports` %>' target="_top">privacy-sandbox-demos-dsp.dev - Reports</a>
</pre>
