<section id="video-ad-container" class="w-full flex flex-col items-center">
  <div id="video-ad--iframe"></div>
  <div class="w-full flex flex-col items-center">
    <div id="mainContainer">
      <div id="content">
        <video id="videoContent">
          <source src="https://storage.googleapis.com/gvabox/media/samples/stock.mp4"></source>
        </video>
      </div>
      <div id="adContainer"></div>
    </div>
    <button id="playButton">Play / Pause</button>
  </div>
</section>
