<%/* This is used in buyer iframes to join an interest group. */%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon"
        href="" />
  <title></title>
  <script src="<%= `https://${HOSTNAME}:${EXTERNAL_PORT}/js/dsp/join-ad-interest-group.js` %>">
  </script>
</head>

</html>
