<%/* TODO: Refactor this file for a specific use-case. */%> 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon"
        href="" />
  <title></title>
  <script src="/js/dsp/usecase/test-private-aggregation/test-private-aggregation.js"
          bucket="<%= `${bucket}` %>"
          cloudenv="<%= `${cloudEnv}` %>"></script>
</head>

</html>
