<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title><%= title %></title>

<script src="<%= `https://${DSP_X_HOST}:${EXTERNAL_PORT}/uc-ba/js/join-ad-interest-group.js` %>"></script>
