<!DOCTYPE html>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title><%= title %></title>

<meta http-equiv="origin-trial" content="<%= DSP_A_TOKEN %>" />

<script src="<%= `https://${DSP_A_HOST}:${EXTERNAL_PORT}/js/join-ad-interest-group.js` %>"></script>