<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="stylesheet"
        href="/css/global.css" />
  <link rel="stylesheet"
        href="/css/unified.css" />
  <link rel="icon"
        href="/img/spy.svg" />
  <script src="/js/main.js"></script>
  <script src="/js/topics.js"></script>
</head>

<body class="container mx-auto flex flex-col gap-6 font-serif sm:w-full md:w-full lg:w-4/5 bg-slate-50 pt-8">
  <%- include('components/header') %>
  <main class="flex flex-col lg:flex-row justify-between gap-6">
    <article class="flex flex-col gap-6 text-xl leading-6 w-full lg:w-4/6">
      <h3 class="font-bold text-2xl">
        Topics Demo
      </h3>
      <p>This page links to three sites that show how topics can be marked as observed, and then accessed, by using the headers from a 'fetch()' request.</p>
      <h2 class="font-bold text-xl">
        Run the Demo
      </h2>
      <p>Open Chrome from the command line using the following <a href="https://www.chromium.org/developers/how-tos/run-chromium-with-flags" target="_blank">feature flags</a>:</p>
      <p><i>google-chrome --disable-features=FledgeEnforceKAnonymity,EnforcePrivacySandboxAttestations --enable-features=BrowsingTopicsParameters:time_period_per_epoch/30s,BrowsingTopicsBypassIPIsPubliclyRoutableCheck</i></p>
      <p>Make sure that chrome://flags/#privacy-sandbox-ads-apis is <strong>disabled</strong>, since the defaults from this will override the command-line flags (in particular, the epoch duration).</p>
      <p>Each of the following sites makes the same <code>fetch()</code> request to the topics server.</p>
      <ul class="list-disc pl-8">
        <li><a href="https://motorcycles.privacy-sandbox-demos-news.dev" target="_blank">Motorcycles</a></li>
        <li><a href="https://soccer.privacy-sandbox-demos-news.dev" target="_blank">Soccer</a></li>
        <li><a href="https://gardening.privacy-sandbox-demos-news.dev" target="_blank">Gardening</a></li>
      </ul>
      <p>Once each of these open in a new browser tab, observed topics will be available to be displayed back here after three <a href="https://developer.chrome.com/docs/privacy-sandbox/topics/#how-does-the-topics-api-work" target="_blank">epochs</a> have passed, i.e. after around 45 seconds if you have set the epoch length to 15 seconds, though it may take longer. The observed topics are likely to be those such as <a href="https://github.com/patcg-individual-drafts/topics/blob/main/taxonomy_v1.md#:~:text=70" target="_blank">70</a> or <a href="https://github.com/patcg-individual-drafts/topics/blob/main/taxonomy_v1.md#:~:text=325" target="_blank">325</a> or <a href="https://github.com/patcg-individual-drafts/topics/blob/main/taxonomy_v1.md#:~:text=208" target="_blank">208</a> that correspond to an interest in motorcycles, soccer and gardening respectively.</p>
      <p>If no topics are displayed, navigate repeatedly to the pages listed above, e.g. by refreshing each page (not hard-refresh).</p>
      <p>Note: this demo isn't anything like a real-world implementation, it only serves to show how topics can be marked as observed, and accessed, using headers.</p>
      <h2 class="font-bold text-xl">
        See Topics Observed
      </h2>
      <div id="fetch-data"><div id="no-topics">Topics will be displayed here.</div></div>
    </article>
    <%- include('components/aside') %>
  </main>
  <%- include('components/footer', {HOME_HOST, EXTERNAL_PORT}) %>
</body>

</html>
