<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/images/payment-provider-card-small.png">

  <title>Payment Button</title>

  <link rel="stylesheet" href="/stylesheets/style.css" />

  <style>
    .button-body {
      margin: 0px;
      background: white;
    }
  </style>

</head>

<body class="button-body">
  <!-- <img class="small-image" src="/images/payment-provider-card-small.png"> -->
  <script>
    async function renderButton() {
      window.onload = async () => {
        let img = new Image;
        img.src = '/images/payment-provider-card-small.png';
        img.classList.add("small-image");
        img.classList.add("float-left");
        await new Promise(r => img.onload = r);

        await window.fence.disableUntrustedNetwork();
        let lastDigits = await window.sharedStorage.get('lastDigits');

        let button = document.createElement('button');
        button.classList.add("demo-button");
        button.style.width = window.width;
        button.style.height = window.height;
        
        if (lastDigits === undefined || lastDigits.length < 4) {
          button.textContent += 'ExamplePay'
        } else {
          button.textContent += ' **** **** **** ' + lastDigits.slice(-4);
        }

        button.appendChild(img);

        button.onclick = (e) => {
          window.fence.notifyEvent(e);
        }

        document.body.appendChild(button);
      }
    };
    renderButton();
  </script>
</body>

</html>