<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/payment-provider-card-small.png">

    <title>Payments Provider</title>

    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/global.css" />

</head>

<body>
    <main>
        <div class="box-outline-blue popup-container">

            <img class="popup-image" src="/images/payment-provider-card.png">
            <h1>
                ExamplePay - Finish your payment
            </h1>
            <p>
                And voila! This new window will kick off the payment flow with ExamplePay.
            </p>
        </div>
    </main>

</body>

</html>