<%/* This clearing of cache for reportin demonstration and testing purposes. */%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="stylesheet"
        href="/css/index.css" />
  <link rel="icon"
        href="/img/spy.svg" />
</head>

<body>
  <h1><%= TITLE %></h1>
  Reporting Cache has been cleared. 

  <a href="/reporting/view-reports" >Back to View Reports</a>
</body>

</html>
