<%/* This is used in fenced-frames to deliver ads. */%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="icon"
        href="" />
  <link rel="stylesheet"
        href="/css/ad-frame.css" />
  <link rel="stylesheet"
        href="/css/ad-label.css" />
  </style>
  <script src="/js/display-ad-frame.js"></script>
</head>

<body>
  <p id="ad-label"></p>
  <a width="300"
     height="250"
     target="_blank"
     rel="noopener noreferrer"
     href="<%= DESTINATION %>">
    <!-- Smaller to avoid scrollbar -->
    <img width="294"
         height="245"
         loading="lazy"
         src="<%= CREATIVE %>">
  </a>
</body>

</html>
