<%/* This is used in iframes to deliver video ads. */%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon"
        href="" />
  <style>
    #ad-label {
      position: absolute;
      top: 0;
      left: 0;
      margin: 4px;
      padding: 4px;
      background: #3f3f3f;
      color: white;
      font-family: monospace;
    }
  </style>
  <script src="/js/video-ad-frame.js"></script>
</head>

<body>
  <p id="ad-label"></p>
</body>

</html>
