<%/* This is used in iframes to deliver video ads. */%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon"
        href="" />
  <link rel="stylesheet"
        href="/css/ad-label.css" />
  <script src="/js/video-ads.js"></script>
</head>

<body>
  <p id="ad-label"></p>
</body>

</html>
