<%/* This enables observability for demonstration and testing purposes. */%>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title><%= TITLE %></title>
  <link rel="stylesheet"
        href="/css/index.css" />
  <link rel="icon"
        href="/img/spy.svg" />
</head>

<body>
  <h1><%= TITLE %></h1>
  <pre><%= JSON.stringify(reports, " ", " ") %></pre>

  <a href="/reporting/clear-reports" onclick="event.preventDefault(); refreshReport();">Clear Report Cache</a>

  <script type="text/javascript">
    function refreshReport() {
      fetch("/reporting/clear-reports")
        .then(response => response.json())
        .then(data => {
            location.reload();
        })
        .catch(error => {
          console.error("Error refreshing report:", error);
        });
    }
  </script>

</body>

</html>
